# BACK END
.idea
boardlib
db.sqlite3
run_dev.sh
lib_run_dev.sh
__pycache__
backend/*/migrations/*
!backend/*/migrations/__init__.py

# FRONT END
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
frontend/.DS_Store
# dependencies
frontend/node_modules
frontend/.pnp
*.pnp.js
.eslintcache

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
